body {
  width: 1505px;
  font-family: 'Roboto';
}

.header {
  background-image: url(./images/banner@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  width: 100%;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-left: 50%;
  padding-top: 2%;
}

.btn-sign-in {
  text-transform: uppercase;
  border: 2px solid rgb(139, 195, 74);
  border-radius: 100px;
  width: 78px;
  height: 32px;
  font-size: 9px;
  color: rgb(139, 195, 74);
  background-color: transparent;
}

.txt-about-us {
  text-transform: uppercase;
  font-size: 9px;
  width: 76px;
  height: 16px;
  padding-top: 5px;
  padding-right: 1%;
  color: rgb(40, 50, 56);
  letter-spacing: 1px;
}

.title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.img-hapoerp {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 13%;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 740px;
  padding-top: 5%;
}

.img-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25pt;
  height: 25pt;
}

.img-icon p {
  font-size: 22pt;
  font-weight: 200;
  color: rgb(40, 50, 56);
  letter-spacing: -0.07px;
  margin-top: 10px;
}

.img-icon i {
  font-size: 30px;
  color: rgb(40, 50, 56);
}

.txt-title-header {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  padding-top: 3%;
  font-size: 10pt;
}

.btn-start-header {
  text-transform: uppercase;
  background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
  border-radius: 100pt;
  margin: auto;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 170px;
  height: 45px;
  color: rgb(255 255 255);
  letter-spacing: 1.33pt;
  box-shadow: 0pt 2pt 4pt 0pt rgba(0 0 0 0.5);
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.paragraph:nth-child(1) {
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}

.paragraph:nth-child(5) {
  box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.1);
}

.img-paragraph-right {
  width: 400px;
  height: 300px;
  padding-left: 2%;
}

.txt-title {
  font-size: 37px;
  font-weight: 200;
  letter-spacing: -0.09pt;
  margin-top: -2%;
  padding-top: 0px;
  padding-left: 2%;
  color: rgb(68, 68, 68);
}

.title {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 50px;
}

.title i {
  font-size: 30px;
  padding-top: 1%;
  color: rgb(68, 68, 68);
}

.txt-area {
  font-size: 20pt;
}

.text {
  width: 400px;
  height: 300px;
  font-size: 9pt;
}

.txt-first-para {
  font-style: italic;
  color: rgb(40, 50, 56);
  letter-spacing: -0, 03px;
}

.txt-sec-para {
  text-align: justify;
  line-height: 14pt;
  color: rgb(40, 50, 56);
  font-weight: 400;
  font-size: 7pt;
}

.btn-start-body {
  text-transform: uppercase;
  background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
  border-radius: 100pt;
  border: rgba(0 0 0 0.5);
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 170px;
  height: 45px;
  color: rgb(255 255 255);
  letter-spacing: 1.33pt;
  box-shadow: 0pt 2pt 4pt 0pt rgba(0 0 0 0.5);
  float: left;
}

.img-paragraph-left {
  width: 400px;
  height: 300px;
  padding-right: 2%;
}

.list-title {
  background-image: linear-gradient(to left, rgb(180 236 81), rgb(66 147 33));
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 21%;
  padding-right: 21%;
}

.img-list-title {
  width: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-list-title {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.icon-list-title i {
  font-size: 23px;
  color: rgb(255, 255, 255);
  letter-spacing: -0, 07px;
}

.txt-list-title {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(124, 179, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  z-index: 2;
}

.part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part p {
  text-transform: uppercase;
  width: 82px;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 1.33px;
  font-size: 16px;
  font-family: 'Roboto';
}

.txt-line {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: -8px;
  padding-top: 5px;
}

.txt-line p {
  font-weight: 400;
  text-align: justify;
  font-size: 7pt;
  line-height: 12pt;
  color: rgb(40, 50, 56);
  margin-top: -2px;
  padding-left: 3%;
}

.txt-line i {
  font-size: 13px;
  color: rgb(139, 195, 74);
}

.our-customer {
  background-image: url(./images/rectangle3.png);
  width: 100%;
  height: 380px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-customer p:first-child {
  font-weight: 200;
  line-height: 20pt;
  color: rgb(255, 255, 255);
  font-size: 22pt;
  margin-top: -5px;
}

.para-customer p {
  font-weight: 300;
  line-height: 25px;
  color: rgb(255, 255, 255);
  width: 500px;
  font-size: 9pt;
  letter-spacing: -0.03px;
  text-align: justify;
  padding-top: 20px;
}

.para-customer i {
  font-size: 50px;
  color: rgb(208, 216, 220);
  letter-spacing: -0, 14px;
  text-align: justify;
}

.para-customer i:last-child {
  padding-top: 90px;
}

.para-customer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 650px;
  align-content: space-between;
  padding-top: 10px;
}


.list-customer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers p {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.03px;
  width: 60px;
  text-align: center;
}

.img-customer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(147, 164, 173);
}

.footer {
  height: 200px;
  background-color: rgb(57, 71, 78);
  border: inset rgb(236, 239, 241);
  box-shadow: 0pt 15pt 35pt 0pt rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 12%;
  padding-right: 12%;
}

.footer p:nth-child(1) {
  text-transform: uppercase;
  color: rgb(139, 195, 74);
  font-weight: 400;
  font-size: 10pt;
}

.footer p {
  color: rgb(208, 216, 220);
  font-size: 8pt;
}

.footer-list-icon {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  min-width: 120px;
}

.footer-list-icon i {
  color: #8bc34a;
}

