body {
  width: 100%;
  font-family: 'Roboto';
  overflow-x: hidden;
  margin: auto;
}

.flex {
  display: flex;
}

.header {
  background-image: url(./images/banner@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  width: 100%;
}

.btn-start {
  text-transform: uppercase;
  background-image: linear-gradient(to left, #b4ec51, #429321);
  border-radius: 100pt;
  justify-content: center;
  width: 170px;
  height: 45px;
  color: #ffffff;
  letter-spacing: 1.33pt;
  box-shadow: 0 2pt 4pt 0 #d8d8d8;
  border: rgba(0, 0, 0, 0.5);
}

.navbar {
  justify-content: center;
  padding-left: 50%;
  padding-top: 30px;
}

.btn-sign-in {
  text-transform: uppercase;
  border: 2px solid #8bc34a;
  border-radius: 100px;
  width: 78px;
  height: 32px;
  font-size: 9px;
  color: #8BC34A;
  background-color: transparent;
}

.txt-about-us {
  text-transform: uppercase;
  font-size: 9px;
  width: 76px;
  height: 16px;
  padding-top: 5px;
  padding-right: 1%;
  color: #283238;
  letter-spacing: 1px;
}

.title-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.img-hapoerp {
  margin: auto;
  margin-top: 100px;
  width: 12%;
}

.menu-header {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 740px;
  padding-top: 80px;
}

.img-icon {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25pt;
  height: 25pt;
}

.img-icon p {
  font-size: 22pt;
  font-weight: 200;
  color: #283238;
  letter-spacing: 0.07px;
  margin-top: 10px;
}

.img-icon i {
  font-size: 30px;
  color: #283238;
}

.txt-title-header {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  padding-top: 3%;
  font-size: 10pt;
  color: #283238;
}

.btn-start-header {
  margin: auto;
  margin-top: 10px;
}

.btn-start-header:hover {
  background-image: linear-gradient(to left, #B4EC51, #d0d8dc);
}

.paragraph {
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding-left: 20%;
  padding-right: 20%;
}

.paragraph:nth-child(1) {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}

.paragraph:nth-child(5) {
  box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
}

.img-paragraph-right {
  width: 440px;
  height: 300px;
}

.img-paragraph-left {
  width: 440px;
  height: 300px;
}

.txt-title {
  font-size: 37px;
  font-weight: 200;
  letter-spacing: 0.09px;
  margin-top: 3%;
  padding-top: 0px;
  padding-left: 2%;
  color: #444444;
  line-height: 10px;
}

.title {
  justify-content: flex-start;
  height: 50px;
}

.title i {
  font-size: 30px;
  padding-top: 3px;
  color: #444444;
}

.txt-area {
  font-size: 20pt;
}

.text {
  height: 300px;
  padding-right: 20px;
  padding-left: 20px;
}

.txt-first-para {
  font-style: italic;
  color: #283238;
  letter-spacing: 0.03px;
  font-size: 9pt;
}

.txt-sec-para {
  text-align: justify;
  line-height: 15pt;
  color: #283238;
  font-weight: 400;
  font-size: 8pt;
}

.btn-start-body {
  margin-top: 20px;
}

.btn-start-body:hover {
  background-image: linear-gradient(to left, #B4EC51, #d0d8dc);
}

.list-title {
  background-image: linear-gradient(to left, #B4EC51, #429321);
  height: 250px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.img-list-title {
  width: 80px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-list-title {
  border-radius: 50%;
  width: 74px;
  height: 74px;
  border: 2px solid #ffffff;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.icon-list-title i {
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 0,07px;
}

.txt-list-title {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #7CB342;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  z-index: 2;
}

.part {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
}

.part span {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1.33px;
  font-size: 16px;
  padding-top: 10px;
}

.txt-line {
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5px;
}

.txt-line p {
  font-weight: 400;
  text-align: justify;
  font-size: 8pt;
  line-height: 13pt;
  color: #283238;
  margin-top: -2px;
  padding-left: 3%;
}

.txt-line i {
  font-size: 13px;
  color: #8BC34A;
}

.our-customer {
  width: 100%;
  background-image: url(./images/rectangle3.png);
  height: 380px;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}

.our-customer p:first-child {
  font-weight: 200;
  line-height: 20pt;
  color:#ffffff;
  font-size: 22pt;
  text-align: center;
}

.description-customer p {
  font-weight: 300;
  line-height: 25px;
  color: #d0d8dc;
  width: 500px;
  font-size: 9pt;
  letter-spacing: 0.03px;
  text-align: justify;
  padding-top: 20px;
}

.description-customer i {
  font-size: 50px;
  color: #5b5b5c;
  letter-spacing: 0,14px;
  text-align: justify;
}

.description-customer i:last-child {
  padding-top: 88px;
  padding-left: 15px;
}

.description-customer i:first-child {
  padding-right: 15px;
}

.description-customer {
  justify-content: center;
  align-items: flex-start;
  min-width: 650px;
  align-content: space-between;
  margin-bottom: 20px;
}

.list-customer {
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.customers {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers p {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.03px;
  width: 60px;
  text-align: center;
}

.img-customer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #93A4AD;
}

.pagination {
  padding-bottom: 30px;
  padding-left: 0;
  margin: auto;
  justify-content: space-between;
  width: 50px;
}

.pagination div {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 0.5px solid #ffffff;
}

.pagination div:first-child {
  background-color: #ffffff;
}

.footer {
  height: 200px;
  background-color: #39474E;
  border: inset #ECEFF1;
  box-shadow: 0 15pt 35pt 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.footer p:nth-child(1) {
  text-transform: uppercase;
  color: #8BC34A;
  font-weight: 400;
  font-size: 10pt;
}

.footer p {
  color: #D0D8DC;
  font-size: 8pt;
}

.footer-list-icon {
  padding-top: 50px;
  justify-content: space-between;
  min-width: 120px;
}

.footer-list-icon i {
  color: #8bc34a;
}
